/* src/styling/CreateReturn.css */

.create-return-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-return-box2 {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}

.create-return-box2 h2 {
  color: #333;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section label {
  display: block;
  margin-bottom: 8px;
}

.form-section input,
.form-section select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #3e505a;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #147ab0;
}
