/* src/styling/CreateCustomer.css */

/* Styles for the header */
.header-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1); /* Only shadow on the bottom */
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Adjust the width to make the header longer horizontally */
  margin: auto; /* Center the header horizontally */
}

.logo-container1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.logo {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
  margin-left: 30px;
}

.nav-link:hover {
  color: #add8e6;
}

/* Styles for the main content */
.create-customer-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.create-customer-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}

.create-customer-box h2 {
  color: #333;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}

.form-section {
  display: flex;
  align-items: center;
}

.form-section h2 {
  text-align: center;
}

.form-section label {
  display: block;
  margin-bottom: 8px;
}

.form-section input,
.form-section select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border don't affect width */
}

.car-details-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.car-details-row div {
  width: 48%; /* Adjust as needed, leaving a small gap between the fields */
}

.create-customer-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column; /* Ensure the items are stacked vertically */
  align-items: center; /* Center items horizontally */
}

#button-create-customer:hover {
  background-color: #1c252a;
}

.form-section div {
  width: 48%; /* Adjust as needed, leaving a small gap between the fields */
}
