/* CustomerDetails.css */

.customer-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .customer-details-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 400px;
  }
  
  .customer-details-box h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .customer-details-box p {
    margin-bottom: 10px;
  }
  
  .customer-details-box strong {
    font-weight: bold;
  }
  
  .back-button {
    background-color: #add8e6;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .back-button:hover {
    background-color: #1c5c7e;
  }
  