/* Add style to frontpage container */
.frontpage-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


/* Add style to frontpage content */
.frontpage-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

/* Style the new container for the four boxes */
.big-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Style each part of the big box */
.big-box-part {
  flex: 1;
  min-width: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
}

nav {
  flex-grow: 1;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
  margin-left: 30px;
}

.nav-link:hover {
  color: #add8e6;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #add8e6;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Center and style the content boxes */
.box {
  flex: 1;
  min-width: 300px;
  border: 2px solid #add8e6;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s, border-color 0.3s;
}

.box h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #80abb9;
}

.box:hover {
  background-color: #374c57;
  color: #fff;
}

.box-link {
  text-decoration: none;
  color: inherit;
}

.welcome-text {
  text-align: center;
  margin-top: 20px;
}

.welcome-text h1 {
  font-size: 40px;
  color: #232222;
}

.logo-container1 {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}

